* {
    margin: 0;
    padding: 0;

}

body {
    background: rgb(255, 183, 65);
    background: linear-gradient(180deg, rgba(255, 221, 165, 1) 0%, rgba(183, 255, 130, 1) 50%, rgba(255, 221, 165, 1) 75%, rgba(183, 255, 130, 1) 100%);
    font-family: 'Montserrat', sans-serif;
}

.main {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
}

.flex-wraper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1%;
}

.header {
    background-color: rgba();
    width: 90%;
    height: 5em;
    margin-bottom: 1%;
    box-sizing: border-box;
    border-radius: 1%;
    line-height: 0.7;
    display: flex;
    justify-content: flex-end;
    color: #333333;
}

.hat-logo {
    font-family: sans-serif;
    font-size: 3.4em;
}

.logo-lab {
    font-family: serif;
    font-size: 1.5em;
    padding-left: 3.8em;
    padding-top: 5px;
}

.hat {
    margin-top: 1%;
    margin-right: 3.1%;
    color: #333333;
    padding-right: 5%;
}

.hat:hover {
    color: #f79700;
    transition: 1s;
}

.hat:not(:hover) {
    transition: 1s;
}

.sidebar {
    background-color: rgba();
    width: 30%;
    height: 150%;
    margin-left: 1%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    border-radius: 1%;
    color: black;

    position: sticky;
    top: 0;
}

.sidebar nav {
    margin-right: 5%;
}

.nav {
    line-height: 2.5;
}

.hvr {
    padding: 10px;
    display: block;
}

a.hvr:active,
a.hvr:hover,
a.hvr {
    text-decoration: none;
    color: #333333;
}

a.hvr:hover {
    color: #f79700;
    transition: 1s;
}

a.hvr:not(:hover) {
    transition: 1s;
}

.content {
    background-color: rgba();
    width: 59%;
    height: 100%;

    box-sizing: border-box;
    padding: 5%;
    padding-top: 1.5%;

    border-radius: 1%;
    font-size: 25px;
    color: #333333;

    display: flex;
    flex-direction: column;

    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;

}

.porfolio-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
    border-radius: 3px;
    padding: 1em;
}

.image{
    width: 14em;
    height: 14em;
    display: block;
}

.porfolio-text{
    margin-top: 2em;
    font-size: 0.7em;
    line-height: 1.8;
}

.my-portfolio{
    font-weight: bold;
}

.my-portfolio:after{
    border-bottom: 1px solid #333333;
}

.footer {
    background-color: rgba();
    width: 80%;
    height: 4em;
    align-items: center;

    box-sizing: border-box;
    border-radius: 1%;
    display: flex;

    font-size: 1.3em;

}

.credits {
    margin-left: 3%;
}

.credits:hover {
    color: #f79700;
    transition: 1s;
}

.credits:not(:hover) {
    transition: 2s;
}
