*{
    margin: 0;
    padding: 0;
    
}
body{
    background: #f4f4f4;
}
.main{
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
}

.flex-wraper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1%;
}

.header{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.14889705882352944) 0%, rgba(46,70,252,0.7959558823529411) 100%);
    width: 90%;
    height: 5em;
    margin-bottom: 1%;
    box-sizing: border-box;
    border-radius: 1%;
    line-height: 0.7;
    display: flex;
    justify-content: flex-end;
}

.header video{
    height: 100%;
}

.hat-logo{
    font-family: sans-serif;
    font-size: 3.4em;
}

.logo-lab{
    font-family: serif;
    font-size: 1.5em;
}

.hat{
    margin-top: 1%;
    margin-right: 3.1%;
}

.hat:hover{
    color: #001eff;
    transition: 1s;
}

.hat:not(:hover){
    transition: 1s;
}

.sidebar{
    background: rgb(46,70,252);
    background: linear-gradient(90deg, rgba(46,70,252,1) 0%, rgba(255,255,255,1) 100%);
    width: 30%;
    height: 150%;
    margin-left: 1%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    border-radius: 1%;
    color: black;
}

.sidebar table{
    margin-right: 5%;
}

.nav{
    line-height: 2.5;
}
a.hvr:active, a.hvr:hover, a.hvr{
    text-decoration: none;
    color: black;
}

a.hvr:hover{
    color: #001eff;
    transition: 2s;
}

a.hvr:not(:hover) {
  transition: 2s;
}
.content{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.14889705882352944) 0%, rgba(46,70,252,0.7959558823529411) 100%);
    width: 59%;
    height: 100%;
    
    box-sizing: border-box;
    padding: 5%;
    padding-top: 1.5%;
    
    border-radius: 1%;
    font-size: 23px;
    color: black;
    
    display: flex;
    flex-direction: column;
    
    line-height: 1.5;

}

.image{
    width: 20%;
    display: block;
    text-align: center;
    margin-left: 20%;
}

.footer{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,30,255,1) 100%);
    width: 80%;
    height: 4em;
    align-items: center;

    box-sizing: border-box;
    border-radius: 1%;
    display: flex;
 
}

.credits{
    margin-left: 3%;
}

.credits:hover{
    color: #001eff;
    transition: 2s;
}

.credits:not(:hover){
    transition: 2s;
}
