*{
    margin: 0;
    padding: 0;
    
}
body{
    background: #ffffff;
}
.main{
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
}

.flex-wraper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1%;
}

.header{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.14889705882352944) 0%, rgba(46,70,252,0.7959558823529411) 100%);
    width: 80%;
    height: 5em;
    margin-bottom: 1%;
    box-sizing: border-box;
    border-radius: 1%;
}

.header video{
    height: 100%;
}



.sidebar{
    background: rgb(46,70,252);
    background: linear-gradient(90deg, rgba(46,70,252,1) 0%, rgba(255,255,255,1) 100%);
    width: 20%;
    height: 150%;
    margin-left: 1%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    border-radius: 1%;
    color: black;

}

.nav{
    line-height: 2.5;
}
a.hvr:active, a.hvr:hover, a.hvr{
  text-decoration: none;
  color: #666;
}

a.hvr:hover{
    color: #2e46fc;
    transition: 2s;
}

a.hvr:not(:hover) {
  transition: 2s;
}
.content{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.14889705882352944) 0%, rgba(46,70,252,0.7959558823529411) 100%);
    width: 59%;
    height: 100%;
    
    box-sizing: border-box;
    padding: 5%;
    padding-top: 1.5%;
    
    border-radius: 1%;
    font-size: 20px;
    color: black;
    
    display: flex;
    flex-direction: column;
    
}

.image{
    width: 20%;
    display: block;
    text-align: center;
    margin-left: 20%;
}

.footer{
    background: rgb(255, 255, 255);
    width: 80%;
    height: 4em;
    text-align: center;

    box-sizing: border-box;
    border-radius: 1%;
 
}
